body{
	padding: 0;
	margin: 0;
	background-color: grey;
	text-align: left;
    overflow:hidden;
}

body div{
	height: 100vh;
}

h1{
	text-align: center;
	color: red;
	height: 130px;
	position: absolute;
	top: 50%;
	margin-top: -90px;
	width: 100%;
	font-size: 100px;
}

h2{
	text-align: center;
	width: 100%;
	font-size: 40px;
	margin-top: 0;
}

span, li{
	font-size: 30px;
}

#homePage, #question{
	background-image: url("assets/banner.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
}

ul.list{
	float: left;
	text-align: left;
}

#what1{
	width: 50%;
	float: left;
}
#what2{
	width: 50%;
	float: right;
}

#what2 img{
	width: 100%;
	height: auto;
}

#end img{
	margin-top: 20%;
}
.tooltip {
    width: 200px;
    height: 240px;
    position: fixed;
    top:auto;
    bottom:0px;
    right:auto;
    left:0px;
    background-color:white;
    font-size: 125%;
}